@font-face {
  font-family: 'memo';
  src: url(fonts/MFSuHei-Noncommercial-Regular-2.ttf);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f0f12;
  color: #eaeaea;
}

section {
  padding: 80px 20px;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background: #1c1c22;
  margin: 40px 0;
  padding: 30px;
  border-radius: 12px;
  opacity: 0;
  transform: translateY(30px);
}

.h1 {
  font-family: 'memo', sans-serif;
  /* font-size: clamp(20px, 5vw, 36px); */
  /* font-size: 8vw; too big on pc screen*/
  font-size: 7vw;
  color: #000000;
  font-weight: normal;
  text-align: center;
}

